.login-form {
    width: 100%;
    max-width: 400px;
    max-height: fit-content;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 0.01cm solid #343a40;
    box-shadow: 10px 10px 20px gray;
}